BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

ColumnLimit: 130

PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: true
IncludeBlocks: Regroup
IncludeIsMainRegex: "([-_]?(inl|impl))?$"
IncludeIsMainSourceRegex: "(.(inl|impl|cpp|cc|cxx|c))$"
IncludeCategories:
  - Regex: '^".*"'
    Priority: 1
  - Regex: "^<oink_judge/.*>"
    Priority: 2
  - Regex: '^<.*\.(h|hpp)>'
    Priority: 3
  - Regex: "^<.*>"
    Priority: 4
